<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style1.css" />
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>

</head>
<body>

<div class="container">

<header>
   <h1>Online Freelancing Forum</h1>
</header>
<p><b>Our Motive</p>
<h3>Provide the best platform for selfowners</h3>
<address style="color:red;">
Owned By <a href="mailto:susmitasharma1226@gmail.com">Susmita</a>.<br> 
Visit us at:<br>
<br>
<br>
Pokhara<br>
Nepal
</address>

<h5>Any Queries?? Shoot us an email at</h5>
<p><a href="https://www.gmail.com">Hiring & Freelancing</a></p>
</body>
</html>