<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://npmcdn.com/react-router@3.0.2/umd/ReactRouter.min.js"></script>
</head>
<body background="bg.jpg">
<div class="container">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container"> 
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span> 
              </button>

<div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                    <li class="widget-container widget_nav_menu"><!-- widgets list -->
            			<h1 class="title-widget">Top Skills</h1>
                        <ul>
		                	<li><a  href="#"><i class="fa fa-angle-double-right"></i>  Android Developers</a></li>
                            
                       <li><a  href="#" target="_blank"><i class="fa fa-angle-double-right"></i> Creative Writers</a></li>      
                       <li><a  href="#" target="_blank"><i class="fa fa-angle-double-right"></i> Marketing Consultants</a></li> 
                       <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Wordpress Developers</a></li>
                            
                       <li><a  href="#" target="_blank"><i class="fa fa-angle-double-right"></i> UI Designers</a></li> 
                        </ul>
              		</li>
                </ul>   
                </div><!-- widgets column left end -->
            <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                    <li class="widget-container widget_nav_menu"><!-- widgets list -->
            			<h1 class="title-widget">Top Skills</h1>
                        <ul>
		                	<li><a  href="#"><i class="fa fa-angle-double-right"></i>  Javascript Developers</a></li>
                            
                       <li><a  href="#" target="_blank"><i class="fa fa-angle-double-right"></i> PHP Developers</a></li>  
                       <li><a  href="#"><i class="fa fa-angle-double-right"></i>  IOS Developers</a></li>
                            
                       <li><a  href="#" target="_blank"><i class="fa fa-angle-double-right"></i> Graphics Designers</a></li>  
                        </ul>
              		</li>
                </ul>   
        	</div><!-- widgets column left end -->
            <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                    <li class="widget-container widget_nav_menu"><!-- widgets list -->
                        <h1 class="title-widget">Top Skills</h1>
                        <ul>
		                	<li><a  href="#"><i class="fa fa-angle-double-right"></i>  Excel Experts</a></li>
                            
                       <li><a  href="#" target="_blank"><i class="fa fa-angle-double-right"></i> Python Developers</a></li>  
                       <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Web Developers</a></li>
                            
                       <li><a  href="#" target="_blank"><i class="fa fa-angle-double-right"></i> CopyWriters</a></li>  
                        </ul>
                        </li>
                        </ul>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>

                        </body>
                        </html>
                        