<h1 style="color:red;" class="page-header">HIRE</h1>
<img src="hire.PNG" alt="An image of a Finding" style="width:500px;height:300px;" />

<h2 style="color:yellow;">Hire the best freelancer</h2>
 <strong></strong>
 <li>
 <h3 style="color:green;">Browse profiles</h3>
 <strong>View finalists’ profiles to see client ratings, portfolios, Job Success scores, and more. Just complete your profile and we’ll highlight ideal jobs. Also search projects, and respond to client invitations.</strong>
 </li>
 <li>
 <h3 style="color:green;">Review proposals</h3>
 <strong>Evaluate bids, taking into account each freelancer’s qualifications, thought process, timeline, and overall cost.</strong>
 </li>
 
 <li>
 <h3 style="color:green;">Schedule a chat</h3>
 <strong>Ask specific questions, determine who’s the best fit, and contract.</strong>
 </li>
 
 
 