<h1 style="color:red;" class="page-header">PAY</h1>
<h1>Payment Through</h1>
<p><a href="/card">Click here</a></p>

<img src="pay.PNG" alt="An image of a Paying" style="width:500px;height:300px;" />

<h2 style="color:yellow;">Pay easily, with peace of mind</h2>
 <strong>Pay your freelancer by the hour, or a fixed price for the entire project. </strong>

