<h1 style="color:red;" class="page-header">WORK</h1>
<img src="work.PNG" alt="An image of a Working" style="width:500px;height:300px;" />

<h2 style="color:yellow;">Work efficiently, effectively.</h2>
 <p>Each project includes an online workspace shared by your team and your freelancer, allowing you to:</p>
 <li>
 <h3 style="color:green;">Send and receive files</h3>
 <strong>Deliver digital assets in a secure environment</strong>
 </li>
 <li>
 <h3 style="color:green;">Share feedback</h3>
 <strong>Use Messages to communicate via text, chat, or video. </strong>
 </li>
 
 <li>
 <h3 style="color:green;">Use our mobile app</h3>
 <strong>Many features can be accessed on your mobile phone when on the go.</strong>
 </li>
 
 
 